### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
README.MD
example.js
node_modules/
rooms.db/
static/bower_components/
static/js/bundle.js
usj.csr
usj.key
usj.key.org
usjfinal.crt
