<div class="col-md-6 col-md-offset-3" style="margin-top: 10%;">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form action="/r/create/" method="post" role="form" enctype="application/x-www-form-urlencoded">

                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" value="{{username}}"
                           aria-describedby="sizing-addon"/>
                </div>
                <div class="form-group">
                    <input id="roomName" type="text" name="channel" class="form-control" value="{{channel}}"
                           aria-describedby="sizing-addon1"/>
                </div>
                <button type="submit" role="button" class="btn btn-primary">
                    Create Room
                </button>
            </form>
        </div>
    </div>
</div>