<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/static/img/kurento.png" type="image/png"/>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/demo-console/index.css">
    <link rel="stylesheet" href="/static/bower_components/ekko-lightbox/dist/ekko-lightbox.min.css">
    <link rel="stylesheet" href="/static/css/kurento.css">
    <script src="/static/bower_components/adapter.js/adapter.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/demo-console/index.js"></script>
    <script src="/static/bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="/static/bower_components/demo-console/index.js"></script>
    <script src="/static/bower_components/kurento-utils/js/kurento-utils.js"></script>
    <script src="/static/bower_components/kurento-utils/js/kurento-utils.js"></script>
    <script src="/static/bower_components/kurento-jsonrpc/js/kurento-jsonrpc.js"></script>
    <!--<script src="./js/EventEmitter.js"></script>-->
    <!--<script src="./js/KurentoRoom.js"></script>-->
    <title>{{title}}</title>
</head>
<body>
{{{body}}}
</body>
</html>